server:
  port: 8082
  host-name: localhost
  https: false

async:
  enabled: false

management:
  endpoints:
    web:
      base-path: "/actuator"
      exposure:
        include: health, info
    access:
      default: none
spring:
  threads:
    virtual:
      enabled: true
  flyway:
    baseline-on-migrate: true
  datasource:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 30_000
      max-lifetime: 1_800_000
      connection-timeout: 30_000
      validation-timeout: 5_000
      connection-test-query: SELECT 1
      auto-commit: true
      leak-detection-threshold: 2000
  output:
    ansi:
      enabled: always
  application:
    name: LSADF Backend
  banner:
    location: classpath:lsadf_banner.txt
  config:
    import: optional:classpath:env.properties
  data:
    redis:
      repositories:
        enabled: false
  security:
    oauth2:
      client:
        provider:
          keycloak:
            authorization-uri: ${keycloak.issuer-uri}/protocol/openid-connect/auth
            token-uri: ${keycloak.issuer-uri}/protocol/openid-connect/token
            user-info-uri: ${keycloak.issuer-uri}/protocol/openid-connect/userinfo
            jwk-set-uri: ${keycloak.issuer-uri}/protocol/openid-connect/certs
            user-name-attribute: preferred_username
        registration:
          keycloak:
            authorization-grant-type: authorization_code
            client-id: ${keycloak.client-id}
            redirect-uri: "{baseUrl}/api/oauth2/callback"
            client-secret: ${keycloak.client-secret}
            provider: keycloak
            scope: openid, profile
          keycloak-admin:
            authorization-grant-type: client_credentials
            client-id: ${keycloak.admin.client-id}
            client-secret: ${keycloak.admin.client-secret}
            provider: keycloak
            scope: openid, profile
      resourceserver:
        jwt:
          issuer-uri: ${keycloak.issuer-uri}
  cloud:
    httpclient:
      connect-timeout: 5000
      read-timeout: 5000


keycloak:
  admin:
    client-id: ${KEYCLOAK_ADMIN_CLIENT_ID}
    client-secret: ${KEYCLOAK_ADMIN_CLIENT_SECRET}
  client-id: ${KEYCLOAK_LSADF_ADMIN_API_CLIENT_ID}
  client-secret: ${KEYCLOAK_LSADF_ADMIN_API_CLIENT_SECRET}
  realm: ${KEYCLOAK_REALM}
  issuer-uri: ${keycloak.url}/realms/${keycloak.realm}

http-log:
  enabled: true
  logged-methods:
    - GET
    - POST
    - PUT
    - DELETE
  color-enabled: true

db:
  username: ${DB_USERNAME}
  password: ${DB_PASSWORD}

swagger:
  contact:
    name: ${SWAGGER_CONTACT_NAME}
    email: ${SWAGGER_CONTACT_EMAIL}
    url: ${SWAGGER_CONTACT_URL}
  title: ${SWAGGER_TITLE}
  description: ${SWAGGER_DESCRIPTION}
  version: ${SWAGGER_VERSION}
  authentication-uri: ${SWAGGER_AUTHENTICATION_URI}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    oauth:
      client-id: ${keycloak.client-id}
  show-actuator: true


logging:
  file:
    name: classpath:logback.xml

cors:
  allowed-headers:
    - "*"
  allowed-origins:
    - "*"
  allowed-methods:
    - GET
    - POST
    - PUT
  allow-credentials: true
  exposed-headers:
    - Access-Control-Allow-Origin
    - Access-Control-Allow-Credentials

valkey:
  config:
    enabled: true
    embedded: false
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}
    password: ${REDIS_PASSWORD}
    database: ${REDIS_DATABASE}
  stream:
    game:
      stream-key: game-stream
      consumer-group: gs-group-admin
      persistence:
        debounce-window-ms: ${GAME_STREAM_DEBOUNCE_WINDOW_MS}
        check-interval-seconds: ${GAME_STREAM_CHECK_INTERVAL_SECONDS}
  cache:
    expiration:
      game-session-expiration-seconds: ${GAME_SESSION_EXPIRATION_SECONDS}
      game-metadata-expiration-seconds: ${GAME_METADATA_EXPIRATION_SECONDS}
      stage-expiration-seconds: ${STAGE_EXPIRATION_SECONDS}
      currency-expiration-seconds: ${CURRENCY_EXPIRATION_SECONDS}
      characteristics-expiration-seconds: ${CHARACTERISTICS_EXPIRATION_SECONDS}

shutdown:
  flush-cache-at-shutdown: true

mail:
  host: ${EMAIL_HOST}
  port: ${EMAIL_PORT}
  username: ${EMAIL_USERNAME}
  password: ${EMAIL_PASSWORD}
  auth: true
  start-tls-enabled: true
  connection-timeout: 5000
  timeout: 5000
  write-timeout: 5000
  debug: true
  starttls-required: true


clock:
  time-zone: "Europe/Paris"

configuration-display:
  enabled: true

jdbc:
  enabled: true
